// Header Section
// --------------------------------------------------
.headband {
  background: $headband-bg;
  height: $headband-height;

  +tablet-mobile() {
    display: none;
  }
}

.site-brand-container {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
  border-radius: 18.8px 18.8px 0 0;
}

.use-motion {
  .column, .site-brand-container .toggle {
    opacity: 0;
  }
}

@import 'site-meta';
@import 'site-nav';
@import 'menu';

@import 'bookmark';
@import 'github-banner';
